[D-BUS Service]
Name=com.deepin.dde.lockFront
Exec=qdbus --literal com.deepin.SessionManager /com/deepin/StartManager com.deepin.StartManager.Launch /usr/share/applications/dde-lock.desktop
