[D-BUS Service]
Name=com.deepin.dde.shutdownFront
Exec=qdbus --literal com.deepin.SessionManager /com/deepin/StartManager com.deepin.StartManager.Launch /usr/share/applications/dde-shutdown.desktop
