[D-BUS Service]
Name=com.deepin.dde.shutdownFront
Exec=/usr/bin/qdbus --literal com.deepin.SessionManager /com/deepin/StartManager com.deepin.StartManager.LaunchApp /usr/share/applications/dde-shutdown.desktop 0 --daemon
