[Desktop Entry]
Comment=Deepin Shutdown
Encoding=UTF-8
Exec=/usr/bin/dde-shutdown -s
Name=Deepin Shutdown
OnlyShowIn=''
Type=Application
X-Deepin-Vendor=user-custom
